__pycache__/DataSet.cpython-39.pyc
__pycache__/model.cpython-39.pyc
__pycache__/Preprocessing.cpython-39.pyc
__pycache__/__init__.cpython-39.pyc
__pycache__/logger.cpython-39.pyc
.vscode/settings.json

mel/train
mel/test
mel/val
mfcc/train
mfcc/test
mfcc/val

pthfiles/
runs/
log/